<div class="tiles-grid-tile" id="primo-explore-appointment-scheduler" ng-if="$ctrl.parentCtrl.$stateParams.section=='overview'">
  <prm-spinner ng-if="$ctrl.loading" class="default-loader dark-on-light overlay-cover no-text" layout="row" layout-align="center center"></prm-spinner>
  <div class="tile-content layout-column">
    <div class="tile-header layout-column">
      <div layout="row" layout-align="space-between" class="layout-align-space-between-stretch layout-row">
        <h2 class="header-link light-text" tabindex="0">
          <span>{{$ctrl.translate('appointments')}}</span>
        </h2>
      </div>
    </div>
    <div ng-if="$ctrl.msg" class="layout-margin layout-padding" ng-style="{'background-color': $ctrl.msg.type == 'warning' ? '#F9A92E' : ($ctrl.msg.type == 'error' ? '#FA4B51' : '#62C131')}">
      <a class="close" (click)="$ctrl.clearAlert()">&times;</a>
      <span>{{ $ctrl.msg.text }}</span>
    </div>
    <div class="layout-padding layout-column">
      <ng-template ng-if="$ctrl.appointments">
        <md-list flex ng-if="$ctrl.appointments.length && $ctrl.appointments.length > 0">
          <md-subheader class="md-no-sticky">{{$ctrl.translate('appointmentlist')}}</md-subheader>
          <md-list-item class="md-2-line" ng-repeat="appt in $ctrl.appointments">
            <div class="md-list-item-text">
              <h3>{{ appt.startTime | formatDate:$ctrl.locale }}</h3>
              <p>{{ appt.location }}</p>
            </div>
            <button 
              aria-label="Cancel appointment"
              ng-click="$ctrl.cancel(appt.id)"
              class="button-with-icon zero-margin md-button md-primoExplore-theme md-ink-ripple"
              type="button"
            >
              <prm-icon icon-type="svg" svg-icon-set="content" icon-definition="ic_clear_24px"></prm-icon>
              <span>{{$ctrl.translate('cancel')}}</span>
            </button>                
          </md-list-item>           
        </md-list>
        <p ng-if="!$ctrl.appointments.length || $ctrl.appointments.length == 0">{{$ctrl.translate('noappointments')}}</p>
      </ng-template>
    </div>
    <!---->
    <div>
      <button 
        aria-label="Add appointment"
        ng-click="$ctrl.showForm=true; $ctrl.newEventChanged();"
        class="button-with-icon zero-margin md-button md-primoExplore-theme md-ink-ripple"
        type="button"
      >
        <prm-icon icon-type="svg" svg-icon-set="content" icon-definition="ic_add_24px"></prm-icon>
        <span>{{$ctrl.translate('addappointment')}}</span>
      </button>
    </div>
    <!---->
    <md-card ng-if="$ctrl.showForm">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{$ctrl.translate('newappointment')}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-input-container class="underlined-input md-primoExplore-theme layout-column" layout="column">
          <label>{{$ctrl.translate('location')}}</label> 
          <md-select ng-model="$ctrl.newEvent.location" ng-change="$ctrl.newEventChanged()">
            <md-option ng-repeat="location in $ctrl.config.locations" ng-value="location.id">
              {{location.name}}
            </md-option>
          </md-select>
          <div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="underlined-input">
          <label>{{$ctrl.translate('date')}}</label>
          <md-datepicker ng-model="$ctrl.newEvent.startDate" md-placeholder="Select date"
            input-aria-describedby="datepicker-description"
            input-aria-labelledby="datepicker-header"
            ng-change="$ctrl.newEventChanged()"
            md-min-date="$ctrl.minDate"
            md-max-date="$ctrl.maxDate"
            md-date-filter="$ctrl.dateOpen"
            style="display: inline-block; margin-right: 15px;"
          ></md-datepicker>  
        </md-input-container>
        <md-input-container class="underlined-input">
          <label>{{$ctrl.translate('starttime')}}</label>
          <md-select ng-model="$ctrl.newEvent.startTime" style="margin: unset">
            <md-option ng-repeat="slot in $ctrl.slots" ng-value="slot">
              {{ slot | formatTime:$ctrl.locale }}
            </md-option>
          </md-select>
        </md-input-container>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.hideForm()">{{$ctrl.translate('cancel')}}</md-button>
        <md-button ng-click="$ctrl.add()" ng-disabled="!($ctrl.newEvent.startTime && $ctrl.newEvent.location)">{{$ctrl.translate('save')}}</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div> 