mat-form-field {
  max-width: 400px;
  display: block;
}

.commands-container {
  margin-top: 10px;
  width: fit-content;
}

.spinner {
  float: right;
}

.commands-container button {
  margin-right: 10px;
}

mat-checkbox {
  margin-bottom: 20px;
  display: block;
}